body, html {
    height: 100%;
    background: url(https://magic.wizards.com/sites/mtg/files/images/wallpaper/Syncopate_DAR_1920x1080_Wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    color:white;

}

.topTwo {
    background-color: hsla(216, 13%, 42%, 0.75);
    position: fixed;
    top:0;
    width: 100%;
}

.manaSelector  {
    position: fixed;
    top: 0;
    margin-top: 65px;
    
}

.main {
    margin-top: 60px;
}

.manaContainer {
    font-size: 30px;
    position: relative;
    text-align: center;
    color: white;
}

.manaText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.manaButton {
    
    transform: translateY(7px);
    height: 24px;
    width: 24px;
    margin:5px;
}

i {
    margin-top:-2.96px;
    margin-bottom:2.96px;
    
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

  .flexContain {
      display:grid;
      grid-template-columns: 1fr 106px;

  }