body, html {
    height: 100%;
    background: url(https://magic.wizards.com/sites/mtg/files/images/wallpaper/Syncopate_DAR_1920x1080_Wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    color:white;

}

.topTwo {
    background-color: hsla(216, 13%, 42%, 0.75);
    position: fixed;
    top:0;
    width: 100%;
}

.manaSelector {
    margin-top: 54.667px;
}